*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #7f5d00;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f4eda9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height:160px;
  background-color: #ffffff10;
  border-radius: 10px;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  color: #2c2100;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #ffffff20;
  border-radius: 10px;
  margin-top: 3em;
}

